@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*
{
    padding: 0;
    margin: 0;
}
header
{
    width: 100%;
    background: url(img/banner-fondogym.jpg) no-repeat; 
    background-size: cover;
}
.logo
{
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
}
.logo h2
{
    margin-top: 15px;
    margin-left: 3rem;
    font-weight: bold;
    font-size: 55px;
    color: white;
    font-family: 'Anton', sans-serif;
}
nav
{
    display: flex;
    width: 100%;
    height: 40%;
    font-family: 'Inter', sans-serif;
}
nav ul
{
    display: flex;
    list-style-type: none;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
nav ul li
{
    display: flex;
    margin: 1rem;
}
nav ul li a 
{
    
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav ul li a:hover
{
    color: yellow;
    transition: all 1s ease;
}
.carroudesk
{
    visibility: visible;
}
.carousel
{
    display: flex;
    justify-content: center;
}
.section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.section h1
{
    margin-top:  17rem;
    font-size: 60px;
}
.section h3
{
    margin-top: 2rem;
    font-size: 30px;
}
.section h4
{
    margin-top: 2rem;
    font-size: 20px;
    margin-bottom: 17rem;
}
.section h4 a 
{
    text-decoration: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}
footer
{
    background-color: black;
    padding-bottom: 6px;
    padding-top: 15px;
    background-color: black;
}
.logo-footer
{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content:center ;
    align-items: center;
}
.logo-footer img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.copy
{
    height: 30%;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.copy h4
{
    color: white;
    font-size: 18px;
}
.father-coach
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: #2D2927;
}
.text-coachs
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.text-coachs img
{
    width: 99%;
}
.sec-coaches
{
    width: 90%;
    background-color: #2D2927;
    color: white;
}
.card-footer
{
    background-color: #2D2927;
    text-align: center;
}
.card-group
{
    margin-bottom: 150px;
}
.card-img-top
{
    width: 100%;
    height: 750px;
    background-color: #2D2927;
}
.card-body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2927;
}
.sec-servicio
{
    color: white;
    width: 70%;
    background-color: #2d2927;
}
.card-title1
{
    text-align: center;
}
.card-text1
{
    text-align: center;
}
.father-contact
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.secp
{
    display: flex;
}
.horarios 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.horarios  img
{
    height: 80%;
    width: 50%;
    border: 1px solid white;
}
.maps
{
    display: flex;
    align-items: center;
    width: 50%;
}
.maps iframe
{
    width: 90%;
}
.contact-us
{
    display: flex;
}
.info-nos
{
    width: 40%;
}
.formulario
{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
}
legend
{
    width: 100%;
    text-align: center;
}
textarea
{
    resize: none;
}
.col-12
{
    display: flex;
    width: 100%;
    justify-content: center;
}
.col-121
{   
    display: flex;
    justify-content: center;
    width: 100%;
}
.col-8
{
    margin-top: 15px;
    padding: 1rem;
}
title
{
    color: black;
}
.btn-send
{
    padding: 0.2rem;
    margin: 10px;
    width: 90px;
}
.cos
{
    display: flex;
    align-items: center;
    width: 60%;
}
.info-nos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-p
{
    text-align: center;
}
.info-nos p
{
    width: 60%;
}
.cos p
{
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}
.fa-phone
{
    margin-left: 15px;
}
.fa-envelope
{
    margin-left: 15px;
}
.fa-map-location-dot
{
    margin-left: 15px;
}
.butons-fechas-gym
{
    display: flex;
    justify-content:space-evenly;

    width: 100%;

}
.btn
{
    background-color: yellow;
    margin-bottom: 50px;
    color: black;
}
.section-dash
{
    margin-top: 250px;
    width: 100%;
    color: white;
}
.section-dash h2
{
    text-align: center;
}
.section-dash p
{
    text-align: center;
}

.carroucell
{
    display: none;
}
.father-perfil
{
    background-color: #2D2927;
}
.perfil-perfil
{
    
    width: 100%;
    background-color: #2D2927;
}
.bannerperfil
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.bannerperfil img
{
    width: 100%;
    margin-top: 2em;
    
}
.perfil-persona
{
    display: flex;
    justify-content: center;
}
.perfil-persona img
{
    width: 350px;
    height: 350px;
    border: 1px solid white;
}
.info-perfil-persona
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top: 10px;
}
.info-perfil-persona p
{
    font-size: 30px;
    margin-top: 10px;
}
.padrephp
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #2D2927;
    color: white;
    font-family: 'Inter', sans-serif;
}
.padrephp h1
{
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
.padrephp h2
{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.padrephp h3 
{
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-align: center;
    margin-bottom: 350px;
}
.padrephp h3 a
{
    text-decoration: none;
    color: white;
}
.vermas-father
{
    display: flex;
    flex-direction: column;
    background-color: #2D2927;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.section-video-f-s
{
    margin-top: 350px;
    display: flex;
    width: 90%;
    height: 400px;
    box-shadow: 10px 10px 8px black;
}
.section-video-f-s2
{
    display: flex;
    width: 90%;
    margin-bottom: 350px;
    height: 400px;
    box-shadow: 10px 10px 8px black;
}
.vermavid1
{
    width: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.verma
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: white
    ;

    
}
.verma h2
{

    width: 100%;
    text-align: center;
}
.verma p
{
    width: 100%;
    text-align: center;
}

@media screen and (max-width:1200px) and (orientation:landscape) 
{
    .section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
    
}
.section h1
{
    margin-top:  17rem;
    font-size: 60px;
}
.section h3
{
    margin-top: 2rem;
    font-size: 30px;
}
.section h4
{
    margin-top: 2rem;
    font-size: 20px;
    margin-bottom: 17rem;
}
.section h4 a 
{
    text-decoration: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}
footer
{
    background-color: black;
    padding-bottom: 6px;
    padding-top: 15px;
    background-color: black;
}
.logo-footer
{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content:center ;
    align-items: center;
}
.logo-footer img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.copy
{
    height: 30%;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.copy h4
{
    color: white;
    font-size: 18px;
}
.father-coach
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: #2D2927;
}
.text-coachs
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.text-coachs img
{
    width: 99%;
}
.sec-coaches
{
    width: 90%;
    background-color: #2D2927;
    color: white;
}
.card-footer
{
    background-color: #2D2927;
    text-align: center;
}
.card-group
{
    margin-bottom: 150px;
}
.card-img-top
{
    width: 100%;
    height: 550px;
    background-color: #2D2927;
}
.card-body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2927;
}
.sec-servicio
{
    color: white;
    width: 70%;
    background-color: #2d2927;
}
.card-title1
{
    text-align: center;
}
.card-text1
{
    text-align: center;
    
}
.father-contact
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.secp
{
    display: flex;
}
.horarios 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.horarios  img
{
    height: 80%;
    width: 50%;
    border: 1px solid white;
}
.maps
{
    display: flex;
    align-items: center;
    width: 50%;
}
.maps iframe
{
    width: 90%;
}
.contact-us
{
    display: flex;
}
.info-nos
{
    width: 40%;
}
.formulario
{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
}
legend
{
    width: 100%;
    text-align: center;
}
textarea
{
    resize: none;
}
.col-12
{
    width: 100%;
}
.col-121
{   
    display: flex;
    justify-content: center;
    width: 100%;
}
.col-2
{
    margin-top: 15px;
}
.col-8
{
    margin-top: 15px;
}
title
{
    color: black;
}
.btn-send
{
    padding: 0.5rem;
    margin: 10px;
    width: 100px;
}
.col-2
{
    text-align:center;
}
.cos
{
    display: flex;
    align-items: center;
    width: 60%;
}
.info-nos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-p
{
    text-align: center;
}
.info-nos p
{
    width: 60%;
}
.cos p
{
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}
.fa-phone
{
    margin-left: 15px;
}
.fa-envelope
{
    margin-left: 15px;
}
.fa-map-location-dot
{
    margin-left: 15px;
}
.father-perfil
{
    background-color: #2D2927;
}
.perfil-perfil
{
    width: 100%;
    background-color: #2D2927;
}
.bannerperfil
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.perfil-persona
{
    display: flex;
    justify-content: center;
}
.perfil-persona img
{
    width: 250px;
    height: 250px;
    border: 1px solid white;
}
.info-perfil-persona
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top: 10px;
}
.info-perfil-persona p
{
    font-size: 30px;
    margin-top: 10px;
}

.section-dash
{
    margin-top: 250px;
    width: 100%;
    color: white;
}
.section-dash h2
{
    text-align: center;
}
.section-dash p
{
    text-align: center;
}


}
@media screen and (max-width:1024px)
{
    .section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.section h1
{
    margin-top:  17rem;
    font-size: 55px;
}
.section h3
{
    margin-top: 2rem;
    font-size: 25px;
}
.section h4
{
    margin-top: 2rem;
    font-size: 20px;
    margin-bottom: 17rem;
}
.section h4 a 
{
    text-decoration: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}
footer
{
    background-color: black;
    padding-bottom: 6px;
    padding-top: 15px;
    background-color: black;
}
.logo-footer
{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content:center ;
    align-items: center;
}
.logo-footer img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.copy
{
    height: 30%;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.copy h4
{
    color: white;
    font-size: 18px;
}
.father-coach
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: #2D2927;
}
.text-coachs
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.text-coachs img
{
    width: 99%;
}
.sec-coaches
{
    width: 95%;
    background-color: #2D2927;
    color: white;
}
.card-footer
{
    background-color: #2D2927;
    text-align: center;
}
.card-group
{
    margin-bottom: 150px;
}
.card-img-top
{
    width: 100%;
    height: 550px;
    background-color: #2D2927;
}
.card-body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2927;
}
.sec-servicio
{
    color: white;
    width: 90%;
    background-color: #2d2927;
}
.card-title1
{
    text-align: center;
}
.card-text1
{
    text-align: center;
}
.father-contact
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.secp
{
    display: flex;
}
.horarios 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.horarios  img
{
    height: 80%;
    width: 50%;
    border: 1px solid white;
}
.maps
{
    display: flex;
    align-items: center;
    width: 50%;
}
.maps iframe
{
    width: 90%;
}
.contact-us
{
    display: flex;
}
.info-nos
{
    width: 40%;
}
.formulario
{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
}
legend
{
    width: 100%;
    text-align: center;
}
textarea
{
    resize: none;
}
.col-12
{
    width: 100%;
}
.col-121
{   
    display: flex;
    justify-content: center;
    width: 100%;
}
.col-2
{
    margin-top: 15px;
}
.col-8
{
    margin-top: 15px;
}
title
{
    color: black;
}
.btn-send
{
    padding: 0.5rem;
    margin: 10px;
    width: 100px;
}
.col-2
{
    text-align:center;
}
.cos
{
    display: flex;
    align-items: center;
    width: 60%;
}
.info-nos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-p
{
    text-align: center;
}
.info-nos p
{
    width: 60%;
}
.cos p
{
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}
.fa-phone
{
    margin-left: 15px;
}
.fa-envelope
{
    margin-left: 15px;
}
.fa-map-location-dot
{
    margin-left: 15px;
}
.section-dash
{
    margin-top: 250px;
    width: 100%;
    color: white;
}
.section-dash h2
{
    text-align: center;
}
.section-dash p
{
    text-align: center;
}
.carroucell
{
    display: none;
}
.perfil-persona img
{
    width: 250px;
    height: 250px;
    border: 1px solid white;
}
}
@media screen and (min-width:769px) and (max-width:874px) and  (orientation:portrait)
{
    .father-perfil
{
    background-color: #2D2927;
}
.perfil-perfil
{
    width: 100%;
    background-color: #2D2927;
}
.bannerperfil
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.perfil-persona
{
    display: flex;
    justify-content: center;
}
.perfil-persona img
{
    width: 250px;
    height: 250px;
    border: 1px solid white;
}
.info-perfil-persona
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top: 10px;
}
.info-perfil-persona p
{
    font-size: 20px;
    margin-top: 10px;
}

}
@media screen and (max-width:768px) and (orientation:portrait)  {
    .section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.section h1
{
    margin-top:  17rem;
    font-size: 55px;
}
.section h3
{
    margin-top: 2rem;
    font-size: 25px;
}
.section h4
{
    margin-top: 2rem;
    font-size: 20px;
    margin-bottom: 17rem;
}
.section h4 a 
{
    text-decoration: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}
footer
{
    background-color: black;
    padding-bottom: 6px;
    padding-top: 15px;
    background-color: black;
}
.logo-footer
{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content:center ;
    align-items: center;
}
.logo-footer img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.copy
{
    height: 30%;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.copy h4
{
    color: white;
    font-size: 18px;
}
.father-coach
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: #2D2927;
}
.text-coachs
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.text-coachs img
{
    width: 99%;
}
.sec-coaches
{
    width: 98%;
    background-color: #2D2927;
    color: white;
}
.card-footer
{
    background-color: #2D2927;
    text-align: center;
}
.card-group
{
    margin-bottom: 150px;
}
.card-img-top
{
    width: 100%;
    height: 400px;
    background-color: #2D2927;
}
.card-body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2927;
}
.sec-servicio
{
    color: white;
    width: 95%;
    background-color: #2d2927;
}
.card-title1
{
    text-align: center;
}
.card-text1
{
    text-align: center;
}
.father-contact
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.secp
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.horarios 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.horarios  img
{
    height: 80%;
    width: 50%;
    border: 1px solid white;
}
.maps
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.maps iframe
{
    width: 100%;
}
.contact-us
{
    display: flex;
    flex-direction: column;
}
.info-nos
{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.formulario
{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}
legend
{
    width: 100%;
    text-align: center;
}
textarea
{
    resize: none;
}
.col-12
{
    width: 100%;
}
.col-121
{   
    display: flex;
    justify-content: center;
    width: 100%;
}
.col-2
{
    margin-top: 15px;
}
.col-8
{
    margin-top: 15px;
}
title
{
    color: black;
}
.btn-send
{
    padding: 0.5rem;
    margin: 10px;
    width: 100px;
}
.col-2
{
    text-align:center;
}
.cos
{
    display: flex;
    align-items: center;
    width: 60%;
}
.info-nos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-p
{
    text-align: center;
}
.info-nos p
{
    width: 60%;
}
.cos p
{
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}
.fa-phone
{
    margin-left: 15px;
}
.fa-envelope
{
    margin-left: 15px;
}
.fa-map-location-dot
{
    margin-left: 15px;
}
.section-dash
{
    margin-top: 250px;
    width: 100%;
    color: white;
}
.section-dash h2
{
    text-align: center;
}
.section-dash p
{
    text-align: center;
}

.father-perfil
{
    background-color: #2D2927;
}
.perfil-perfil
{
    
    width: 100%;
    background-color: #2D2927;
}
.bannerperfil
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.perfil-persona
{
    display: flex;
    justify-content: center;
}
.perfil-persona img
{
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
.info-perfil-persona
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top: 10px;
}
.info-perfil-persona p
{
    font-size: 20px;
    margin-top: 10px;
}
.vermas-father
{
    display: flex;
    flex-direction: column;
    background-color: #2D2927;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.section-video-f-s
{
    margin-top: 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 700px;
    box-shadow: none;
    border-bottom: 1px solid black;
    
}
.section-video-f-s2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
    height: 700px;
    box-shadow: none;
}
.vermavid1
{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
    
}

.verma
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: white
    ;

    
}
.verma h2
{

    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.verma p
{
    width: 100%;
    text-align: center;
    
}

}
@media screen and (max-width:720px) and (orientation:portrait) {
    
    .carroucell
{
    display: flex;
}
.carroudesk
{
    display: none;
}

}
@media screen and (max-width:600px)  and (orientation:portrait) {
    .section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.section h1
{
    margin-top:  17rem;
    font-size: 35px;
}
.section h3
{
    margin-top: 2rem;
    font-size: 20px;
}
.section h4
{
    margin-top: 2rem;
    font-size: 15px;
    margin-bottom: 17rem;
}
.section h4 a 
{
    text-decoration: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}
footer
{
    background-color: black;
    padding-bottom: 6px;
    padding-top: 15px;
    background-color: black;
}
.logo-footer
{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content:center ;
    align-items: center;
}
.logo-footer img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.copy
{
    height: 30%;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.copy h4
{
    color: white;
    font-size: 18px;
}
.father-coach
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: #2D2927;
}
.text-coachs
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.text-coachs img
{
    width: 99%;
}
.sec-coaches
{
    width: 98%;
    background-color: #2D2927;
    color: white;
}
.card-footer
{
    background-color: #2D2927;
    text-align: center;
}
.card-group
{
    margin-bottom: 150px;
}
.card-img-top
{
    width: 100%;
    height: 400px;
    background-color: #2D2927;
}
.card-body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2927;
}
.sec-servicio
{
    color: white;
    width: 95%;
    background-color: #2d2927;
}
.card-title1
{
    text-align: center;
}
.card-text1
{
    text-align: center;
    
}
.father-contact
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.secp
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.horarios 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.horarios  img
{
    height: 80%;
    width: 50%;
    border: 1px solid white;
}
.maps
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.maps iframe
{
    width: 100%;
}
.contact-us
{
    display: flex;
    flex-direction: column;
}
.info-nos
{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.formulario
{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}
legend
{
    width: 100%;
    text-align: center;
}
textarea
{
    resize: none;
}
.col-12
{
    width: 100%;
}
.col-121
{   
    display: flex;
    justify-content: center;
    width: 100%;
}
.col-2{
    margin-top: 15px;
}
.col-8
{
    margin-top: 15px;
}
title
{
    color: black;
}
.btn-send
{
    padding: 0.5rem;
    margin: 10px;
    width: 100px;
}
.col-2
{
    text-align:center;
}
.cos
{
    display: flex;
    align-items: center;
    width: 60%;
}
.info-nos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-p
{
    text-align: center;
}
.info-nos p
{
    width: 60%;
}
.cos p
{
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}
.fa-phone
{
    margin-left: 15px;
}
.fa-envelope
{
    margin-left: 15px;
}
.fa-map-location-dot
{
    margin-left: 15px;
}
.father-perfil
{
    background-color: #2D2927;
}
.perfil-perfil
{
    width: 100%;
    background-color: #2D2927;
}
.bannerperfil
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.perfil-persona
{
    display: flex;
    justify-content: center;
}
.perfil-persona img
{
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
.info-perfil-persona
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top: 10px;
}
.info-perfil-persona p
{
    font-size: 20px;
    margin-top: 10px;
}
.section-dash
{
    margin-top: 250px;
    width: 100%;
    color: white;
}
.section-dash h2
{
    text-align: center;
}
.section-dash p
{
    text-align: center;
}

}
@media screen and (max-width:480px)  and (orientation:portrait) {
    .section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
    
}
.section h1
{
    margin-top:  17rem;
    font-size: 35px;
}
.section h3
{
    margin-top: 2rem;
    font-size: 20px;
}
.section h4
{
    margin-top: 2rem;
    font-size: 15px;
    margin-bottom: 17rem;
}
.section h4 a 
{
    text-decoration: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}
footer
{
    background-color: black;
    padding-bottom: 6px;
    padding-top: 15px;
    background-color: black;
}
.logo-footer
{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content:center ;
    align-items: center;
}
.logo-footer img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.copy
{
    height: 30%;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.copy h4
{
    color: white;
    font-size: 18px;
}
.father-coach
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: #2D2927;
}
.text-coachs
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.text-coachs img
{
    width: 99%;
}
.sec-coaches
{
    width: 98%;
    background-color: #2D2927;
    color: white;
}
.card-footer
{
    background-color: #2D2927;
    text-align: center;
}
.card-group
{
    margin-bottom: 150px;
}
.card-img-top
{
    width: 100%;
    height: 400px;
    background-color: #2D2927;
}
.card-body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2927;
}
.sec-servicio
{
    color: white;
    width: 95%;
    background-color: #2d2927;
}
.card-title1
{
    text-align: center;
}
.card-text1
{
    text-align: center;
    
}
.father-contact
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.secp
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.horarios 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.horarios  img
{
    height: 80%;
    width: 50%;
    border: 1px solid white;
}
.maps
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.maps iframe
{
    width: 100%;
}
.contact-us
{
    display: flex;
    flex-direction: column;
}
.info-nos
{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.formulario
{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}
legend
{
    width: 100%;
    text-align: center;
}
textarea
{
    resize: none;
}
.col-12
{
    width: 100%;
}
.col-121
{   
    display: flex;
    justify-content: center;
    width: 100%;
}
.col-2{
    margin-top: 15px;
}
.col-8
{
    margin-top: 15px;
}
title
{
    color: black;
}
.btn-send
{
    padding: 0.5rem;
    margin: 10px;
    width: 100px;
}
.col-2
{
    text-align:center;
}
.cos
{
    display: flex;
    align-items: center;
    width: 60%;
}
.info-nos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-p
{
    text-align: center;
}
.info-nos p
{
    width: 60%;
    
}
.cos p
{
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}
.fa-phone
{
    margin-left: 15px;
}
.fa-envelope
{
    margin-left: 15px;
}
.fa-map-location-dot
{
    margin-left: 15px;
}
.father-perfil
{
    background-color: #2D2927;
}
.perfil-perfil
{
    
    width: 100%;
    background-color: #2D2927;
}
.bannerperfil
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.perfil-persona
{
    display: flex;
    justify-content: center;
}
.perfil-persona img
{
    width: 150px;
    height: 150px;
    border: 1px solid white;
}
.info-perfil-persona
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top: 10px;
}
.info-perfil-persona p
{
    width: 50%;
    font-size: 15px;
    margin-top: 5px;
}

.section-dash
{
    margin-top: 250px;
    width: 100%;
    color: white;
}
.section-dash h2
{
    text-align: center;
}
.section-dash p
{
    text-align: center;
}

}
@media screen and (max-width:320px)  and (orientation:portrait) {
    .section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
    
}
.section h1
{
    margin-top:  17rem;
    font-size: 35px;
}
.section h3
{
    margin-top: 2rem;
    font-size: 20px;
}
.section h4
{
    margin-top: 2rem;
    font-size: 15px;
    margin-bottom: 17rem;
}
.section h4 a 
{
    text-decoration: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}
footer
{
    background-color: black;
    padding-bottom: 6px;
    padding-top: 15px;
    background-color: black;
}
.logo-footer
{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content:center ;
    align-items: center;
}
.logo-footer img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.copy
{
    height: 30%;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.copy h4
{
    color: white;
    font-size: 18px;
}
.father-coach
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-color: #2D2927;
}
.text-coachs
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.text-coachs img
{
    width: 99%;
}
.sec-coaches
{
    width: 98%;
    background-color: #2D2927;
    color: white;
}
.card-footer
{
    background-color: #2D2927;
    text-align: center;
}
.card-group
{
    margin-bottom: 150px;
}
.card-img-top
{
    width: 100%;
    height: 400px;
    background-color: #2D2927;
}
.card-body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2927;
}
.sec-servicio
{
    color: white;
    width: 95%;
    background-color: #2d2927;
}
.card-title1
{
    text-align: center;
}
.card-text1
{
    text-align: center;
    
}
.father-contact
{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #2D2927;
    color: white;
}
.secp
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.horarios 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.horarios  img
{
    height: 80%;
    width: 50%;
    border: 1px solid white;
}
.maps
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.maps iframe
{
    width: 100%;
}
.contact-us
{
    display: flex;
    flex-direction: column;
}
.info-nos
{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.formulario
{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}
legend
{
    width: 100%;
    text-align: center;
}
textarea
{
    resize: none;
}
.col-12
{
    
    width: 100%;
    
}

.col-121
{   
    display: flex;
    justify-content:center;
    width: 100%;
}
.col-2{
    margin-top: 15px;
    font-size: 14px;
    margin-left: 13px;
}
.col-8
{
    margin-top: 15px;
    margin-left: 13px;
}
title
{
    color: black;
}
.btn-send
{
    padding: 0.5rem;
    margin: 10px;
    width: 100px;
    
}
.col-2
{
    text-align:center;
}
.cos
{
    display: flex;
    align-items: center;
    width: 60%;
}
.info-nos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-p
{
    text-align: center;
}

.info-nos p
{
    width: 60%;
    
}
.cos p
{
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}
.fa-phone
{
    margin-left: 15px;
}
.fa-envelope
{
    margin-left: 15px;
}
.fa-map-location-dot
{
    margin-left: 15px;
}
.father-perfil
{
    background-color: #2D2927;
}
.perfil-perfil
{
    
    width: 100%;
    background-color: #2D2927;
   
}
.bannerperfil
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.perfil-persona
{
    display: flex;
    justify-content: center;
}
.perfil-persona img
{
    width: 150px;
    height: 150px;
    border: 1px solid white;
}
.info-perfil-persona
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top: 10px;
}
.info-perfil-persona p
{
    width: 90%;
    font-size: 15px;
    margin-top: 5px;
}


.section-dash
{
    margin-top: 250px;
    width: 100%;
    color: white;
}
.section-dash h2
{
    text-align: center;
}
.section-dash p
{
    text-align: center;
}




}
